header {
  width: 100%;
  height: 100px;
  background: #BFD7B5;
}

.inner {
  width: 960px;
  margin: 0 auto;
}

.inner h1 {
  float: left;
  margin-right: 100px;
}

header ul {
  margin-top: 0px;
}

header ul li {
  display: inline-block;
  margin-right: 75px;
  margin-top: 80px;
}

.about {
  text-align: center;
  height: 400px;
  border-top: solid 2px black;
}


.recentProjects {
  text-align: center;
  height: 400px;
  border-top: solid 2px black;
}

.social {
  text-align: center;
  height: 400px;
  border-top: solid 2px black;
}

@media only screen and (min-width: 640px) {
  nav ul {
    font-size: 35px;
  }
}
