
/* TODO There is so much I want to change witin the styling and look of this project. First of all I need to implement the hamburger menu. Next, I am designing from a mobile-first perspective so I want the hamburger menu and one project per section. I want to create a media query that will change for the desktop version of my portfolio. My desktop version will display 2-3 portfolios in a line. Also my hamburger menu should change into an inline nav bar. I also want to change my header to be more stylish. Since the content on my page will be portfolio projects and look fairly basic I want the header to be a place where I can showcase my design skills. My about me section is another area where I would like to showcase my CSS abilities. Also as I mentioned previously, I would like to add another section to my portfolio that is a personal resume. This will showcase my background but also my ability to create a resume online using web development skills. */

body {
  background-color: #FEDC97;
}

.site-header {
  height: 75px;
  background-color: #6B8F71;
}

.inner {
  line-height: 2px;
  margin: none;
  width: 60%;
  position: relative;

}

.inner h1 {
  padding-top: 25px;
  margin-top: 0px;
  margin-left: 5%;
}

.inner h2 {
  font-size: 12px;
  margin-left: 17%;
}

.icon-menu {
  font-size: 40px;
  position: absolute;
  right: 65px;
  top: 15px;
  cursor: pointer;
}

.main-nav ul {
  /*display: none;*/
}

.main-nav ul li {
  display: inline-block;
}

/*#projects div {
  display: inline-block;*/
}

#filters {
  display: inline;
  width: 40px;
}

/*#filters li {

}*/

#projects {
  text-align: center;
  margin-top: 10px;
}

article {
  margin-bottom: 25px;
}

article h1 {
  line-height: 1px;
}

article h2 {
  font-size: 12px;
  margin-bottom: 30px;
}

img {
  height: 200px;
  max-width: 100%;
}

a, a:link, a:active {
  text-decoration: none;
  color: #777;
}

a:hover, a:focus {
  color: #29506D;
}

a:visited {
  color: #AAA;
}
