header {
  width: 100%;
  height: 150px;
  background-color: #BFD7B5;
}

header h1 {
  top: 40px;
  width: 40%;
  display: inline;
  margin-top: 60px;
}

nav {
  width: 50%;
  margin-right: 0px;
  float: right;
  margin-top: 60px;
}

nav ul {
  display: inline;
  /*float: right;*/
  /*width: 50%;*/
  font-size: 25px;
}

nav li {
  display: inline;
}

.about {
  text-align: center;
  height: 400px;
}
